# üßº Limpieza y Preparaci√≥n del Dataset del Titanic
Este notebook tiene como objetivo preparar el dataset del Titanic para an√°lisis exploratorio y modelado predictivo. A continuaci√≥n se detallan los pasos realizados:

## üì• 1. Carga del Dataset
Se comienza cargando el archivo CSV que contiene los datos de los pasajeros del Titanic.

In [8]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv('/Users/paulamartinezmora/Proyecto final herramientas de trabajo/trabajo-final-hdtc/datasets/Titanic-Dataset.csv')

## üßπ 2. Eliminaci√≥n de Columnas Irrelevantes

Se eliminan columnas que no aportan valor directo al an√°lisis o que contienen informaci√≥n dif√≠cil de procesar sin un tratamiento adicional. Estas incluyen identificadores √∫nicos, nombres, n√∫meros de ticket y cabinas.

In [9]:
# Eliminar columnas que no son √∫tiles para el an√°lisis
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

## üß© 3. Tratamiento de Valores Faltantes

Se manejan los valores nulos en las siguientes columnas:

- **Edad (`Age`)**: se reemplaza con la mediana para mantener la distribuci√≥n.
- **Tarifa (`Fare`)**: se reemplaza con la mediana.
- **Puerto de embarque (`Embarked`)**: se reemplaza con la moda (valor m√°s frecuente).

In [10]:
# Imputar valores faltantes
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Fare'].fillna(df['Fare'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

/var/folders/kj/9gxymc210872gn06d9zrs6ph0000gn/T/ipykernel_4500/3956977505.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/var/folders/kj/9gxymc210872gn06d9zrs6ph0000gn/T/ipykernel_4500/3956977505.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fare'].fillna(df['Fare'].median(), inplace=True)
/var/folders/kj/9gxymc210872gn06d9zrs6ph0000gn/T/ipykernel_4500/3956977505.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

## üîÑ 4. Conversi√≥n de Variables Categ√≥ricas

Para facilitar el an√°lisis y modelado, se convierten las variables categ√≥ricas en num√©ricas:

- **Sexo (`Sex`)**: se codifica como 0 para hombre y 1 para mujer.
- **Puerto de embarque (`Embarked`)**: se transforma en variables dummy (one-hot encoding), eliminando una categor√≠a para evitar multicolinealidad.

In [11]:
# Convertir 'Sex' a variable num√©rica
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# Convertir 'Embarked' a variables dummy
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

## ‚úÖ 5. Vista Previa del Dataset Limpio

Se muestra una vista previa de las primeras filas del dataset ya limpio para verificar que los cambios se han aplicado correctamente.

In [12]:
# Mostrar las primeras filas del dataset limpio
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_Q  Embarked_S
0         0       3    0  22.0      1      0   7.2500       False        True
1         1       1    1  38.0      1      0  71.2833       False       False
2         1       3    1  26.0      0      0   7.9250       False        True
3         1       1    1  35.0      1      0  53.1000       False        True
4         0       3    0  35.0      0      0   8.0500       False        True